################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PrjSistemaFinanceiro/.vs/PrjSistemaFinanceiro/v15/Server/sqlite3
